# Ignore Maven target folders
/target/
!**/src/main/**/target/
!**/src/test/**/target/

# Maven wrapper JAR (keep this!)
!.mvn/wrapper/maven-wrapper.jar

# IDEs
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
.idea
*.iws
*.iml
*.ipr
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/
.vscode/

# Keep .env and application.properties in repo
# REMOVE these two lines if you want to push them
# .env
# application.properties
